html,
body {
  height: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  margin: 100px 20px 30px;
}
.navbar {
  background-color: rgb(65, 73, 170);
  color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  position: fixed;
  height: 70px !important;
  top: 0;
  right: 0;
  left: 0;
  max-height: 70px;
  padding: 20px;
  z-index: 20;
}
.navbar-header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
section {
  padding: 20px 0;
  max-width: 620px;
  margin: 0 auto;
}
